<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>

    <body>
        <div th:each="stock : ${stockList}">
            <h1 th:text="${stock.keyword}"></h1>
            <ul th:each="article : ${articleList}">
                <li th:if="${article.keyword == stock.keyword}">
                    <a th:href="${article.url}" th:text="${article.title}"></a>
                </li>
            </ul>
        </div>
    </body>

</html>