<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
	google.charts.load('current', {'packages': ['corechart']});
	google.charts.setOnLoadCallback(drawChart);

	function drawCHart() {
		var data = new google.visualization.DataTable();
		data.addColumn('date', '날짜');
		data.addColumn('price', '가격');

		var dataRow = [];
		for (var i = 0; i <= $(list).size(); i++) {
			var date = $(list[i]).infoDate;
			var price = $(list[i]).price;
			dataRow = [date, price];
			data.addRow(dataRow);
		}
		
		var options = {
        	width: 800,
        	legend: { position: 'none' },
			chartType='LineChart',
			containerId : 'lineChartArea',
			axes: {
            	x: {
              		0: { side: 'top', label: 'White to move'} // Top x-axis.
            	}
          	},
		};


		

	}

</script>